@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}
.dropdown:empty {
  border: none;
}
input,
button {
  font: inherit;
}

html {
  font-size: 1.5rem;
}
.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

article {
  margin: 1em;
  padding: 1em;
  background-color: midnightblue;
  color: whitesmoke;
  border-radius: 15px;
}

header {
  /* background-color: gold; */
  padding: 1em;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.abcd {
  position: static;
  width: calc(100% - 60px);
  padding: 28px 30px 30px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 20px;
  bottom: 81px;
  z-index: 1;
}

.search1:focus-within {
  box-shadow: 2px 2px 7px #000;
}

.search__button1,
.search__input1 {
  background-color: #fff;
  border: none;
  outline: none;
}

.search__input1 {
  padding: 1em;
  width: 85%;
}

.search__button1 {
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: gray;
  display: grid;
  place-content: center;
}

@media (min-width: 576px) {
  .search1 {
    font-size: 1rem;
  }

  .search__button1 {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .search1 {
    z-index: 1;
    border-radius: 2em;
    display: flex;
    border: 5px solid #000;
    /* overflow: visible !important; */
    font-size: 0.5rem;
    border: 1px solid #000;
    border-radius: 5em;
    overflow: hidden;
    flex-flow: nowrap;
    width: 60%;
    margin-left: 212px;
  }

  .search__button1 {
    padding-right: 0.5em;
    font-size: 1.5rem;
  }
}
