body {
    background: #ccc;
  }
  .App {
    width: 100%;
    /* margin: 0 auto; */
    margin-top: 0px;
  }
  
  .slick-slide > div {
    margin: 0 10px;
    width:70%;
  }
  .slick-list {
    margin: 0 -10px;
  }
  
  .card {
    border: 1px solid #fff;
    /* background: black; */
    border-radius: 0px;
    overflow: hidden;
    height: 200px;
    color: #fff;
    cursor: pointer;
  }
  
  .card-top h1 {
    font-size: 0.6rem;
    margin: 0px;
  }
  
  .card-top > img {
    width: 70%;
    height: 200px;
    object-fit: cover;
    background: rgb(76, 6, 240);
  }
  
  .card-bottom {
    margin: 10px 20px;
  }
  
  .category {
    position: relative;
  }
  .category::before {
    content: '';
    background: rgb(255, 61, 61);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    height: 200px;
  }