@tailwind base;
@tailwind components;
@tailwind utilities;
.signin {
  border-radius: 1000px;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
.section {
  /* background-color: white; */
  background-image: url("../../images/bg\ pic.jpeg");
  background-repeat: no-repeat;
  /* background-size: 3000px,1200px; */
  width:auto !important;;
  text-align: center;
}
.link-1 {
  border-radius: 0.25rem;
}
.btn-1{
      color: white;
        background-color: green;
}
.btn-2{
  color:white;
  background-color:purple;
}
.h6-1{
  float:inline-start;
  font-size: 0.5rem;
  color:red;
}
