.navi{
    list-style:none;
    display:flex;
    margin:8px;
    float: left; 
    background: #010;
    /* flex-direction: column; */
    font-size:0.5 rem;
    padding: 0px 10px; 
}
.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navi2{
  display:flex; 
  list-style:none;
  margin:10px;
  float: right; 
  background: #010;
  flex-direction: column;
}
.color{
    text-color:white;
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  .success {
    border-color: #04AA6D;
    color: green;
  }
  
  .success:hover {
    background-color: #04AA6D;
    color: white;
  }
  .default {
    border-color: #e7e7e7;
    color: black;
  }
  
  .default:hover {
    background: #e7e7e7;
  }
  *{
    height: 100%;
    width: 100%
  }