.nav{
  padding:0,0;
  padding-left:0;
  padding-right:0;
  --bs-nav-link-padding-x:0;
  --bs-nav-link-padding-y:0;
  display: flex;
}

.px-2 {
  padding-right: 0.5rem!important; 
  padding-left: 0.5rem!important; 
}

.aaab {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  float: left;
  height: 72px;
  width: 66px;
  border: 0px;
}
