@media screen and (min-width: 768px)
.bb{
    line-height: 30px;
}
@media only screen and (min-width: 481px)
.dQsCrs > div {
    margin-top: 30px;
}
.jBbBTX {
    color: rgb(247, 247, 247);
    font-size: 15px;
    margin: 0px;
    line-height: 24px;
}

.dQsCrs {
    border-radius: 6px;
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 1px 20px; */
    position: absolute;
    bottom: 81px;
    left: 4px;
    z-index: 1;
    
}
.dQsCrs h2 {
    margin-bottom: 10px;
    /* font-style: inherit; */
    font-size: xxx-large;
    font-weight:bolder;
   color: rgba(0,0,0,.65);
}

div {
    display: block;
}
h1, h2, h3, h4, h5, h6, a, p, li, dl, th, dt, input, textarea, span, div{
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    /* text-shadow: rgba(255, 252, 252, 0.967) 1px 1px 1px; */
    /* -webkit-tap-highlight-color: transparent; */
}

.dOPEPt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    background-color: rgb(247, 247, 247);
    border-radius: 3px 0px 0px 3px;
    min-height: 60px;
}
.cSRaiB {
    display: flex;
    /* width: 100%; */
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

 .glide, .hHPvoJ .glide__track,.glide__slides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: all;
}

.glide {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
div {
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    /* text-shadow: rgb(252, 250, 250) 1px 1px 1px; */
    -webkit-tap-highlight-color: transparent;
}
::before, ::after {
    box-sizing: inherit;
}
.glide * {
    box-sizing: inherit;
}
.hfPoTr {
    position: relative;
}
li {
    list-style-type: none;
    display: list-item;
    text-align: match-parent;
}
.hHPvoJ .glide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
::selection {
    background: rgb(0, 132, 137);
    color: rgb(255, 255, 255);
}
.cSRaiB > svg {
    position: absolute;
    z-index: 1;
    top: auto;
}
svg:not(:root) {
    overflow: hidden;
}
* {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}
.cSRaiB .date_picker .DateRangePicker {
    display: block;
    width: 100%;
}
.DateRangePicker {
    position: relative;
    display: inline-block;
}
.cSRaiB .date_picker .DateRangePicker .DateRangePickerInput {
    border: 0px;
    padding-right: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: transparent;
}
.jBbBTX {
    color: rgb(252, 247, 247);
    font-size: 15px;
    margin: 0px;
    line-height: normal;
}
.hCuLgs {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 40px;
}
.DateRangePickerInput__showClearDates {
    padding-right: 30px;
}
.DateRangePickerInput__withBorder {
    border-radius: 2px;
    border: 1px solid #dbdbdb;
}
.DateRangePickerInput {
    background-color: #fff;
    display: inline-block;
}
* {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cSRaiB .date_picker .DateRangePicker .DateRangePickerInput .DateInput .DateInput_fang {
    display: none;
}
.DateInput_fang {
    position: absolute;
    width: 20px;
    height: 10px;
    left: 22px;
    z-index: 2;
}
* {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

element.style {
}
.DateInput_screenReaderMessage {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.cSRaiB .date_picker .DateRangePicker .DateRangePicker_picker {
    margin-top: -12px;
    z-index: 2;
}
.DateRangePickerInput_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #484848;
}
.DateInput {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 130px;
    vertical-align: middle;
}
cSRaiB .date_picker .DateRangePicker .DateRangePickerInput .DateInput {
    width: 100%;
    padding: 0px 15px 0px 30px;
    background: transparent;
}
.DateRangePickerInput_clearDates_svg__small {
    height: 9px;
}
.cSRaiB > svg.user-friends {
    width: 17px;
    height: 17px;
}
.cSRaiB > svg.map-marker, .cSRaiB > svg.calendar, .cSRaiB >
svg.user-friends {
    left: 15px;
    right: auto;
    fill: rgb(0, 132, 137);
}
.cSRaiB > svg {
    position: absolute;
    z-index: 1;
    top: auto;
}
.cSRaiB .view_with__popup {
    max-width: 100%;
    position: relative;
}
.dOPEPt button[type="submit"].ant-btn{
    min-width: 157px;
height: 60px;
color: rgb(255, 255, 255);
background-color: rgb(0, 132, 137);
border-radius: 0px 3px 3px 0px;
border: 0px;
box-shadow: none;
font-size: 15px;
font-weight: 700;
text-shadow: none;
}
.dQsCrs h2 {
    margin-bottom: 10px;
}

.cSRaiB > svg.map-marker, .cSRaiB > svg.calendar, .cSRaiB > svg.user-friends {
    left: 15px;
    right: auto;
    fill: rgb(0, 132, 137);
}
.cSRaiB .map_autocomplete {
    width: 100%;
    position: relative;
}
.cSRaiB .target {
    right: 10px;
    left: auto;
}
.cSRaiB > svg {
    position: absolute;
    z-index: 1;
    top: auto;
}
.cSRaiB .map_autocomplete input {
    border: 0px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 0px;
    height: 60px;
    padding: 0px 30px 0px 40px;
    background: transparent;
    color: rgb(44, 44, 44);
}
.ant-input:placeholder-shown {
    text-overflow: ellipsis;
}
.cSRaiB .map_autocomplete::after {
    content: "";
    width: 1px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 10px);
    right: auto;
    left: auto;
    background-color: rgb(230, 230, 230);
}
svg:not(:root) {
    overflow: hidden;
}
.cSRaiB > svg.map-marker, .cSRaiB > svg.calendar, .cSRaiB > svg.user-friends {
    left: 15px;
    right: auto;
    fill: rgb(0, 132, 137);
}
.cSRaiB .date_picker {
    min-width: calc(236px);
    width: calc(100% - 14px);
    margin: 0px 0px 0px 14px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.cSRaiB > svg {
    position: absolute;
    z-index: 1;
    top: auto;
}
.cSRaiB .date_picker .DateRangePicker {
    display: block;
    width: 100%;
}
.cSRaiB .date_picker .DateRangePicker .DateRangePickerInput {
    border: 1px;
    padding-right: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: transparent;
}
.DateRangePickerInput__showClearDates {
    padding-right: 30px;
}
.DateInput {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 220px;
    vertical-align: middle;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.DateInput_input {
    font-weight: 200;
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    background-color: #fff;
    width: 100%;
    padding: 11px 11px 9px;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
::before, ::after {
    box-sizing: inherit;
}
::selection {
    background: rgb(0, 132, 137);
    color: rgb(255, 255, 255);
}
.DateRangePickerInput_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #484848;
}
.cSRaiB .date_picker .DateRangePicker .DateRangePickerInput .DateInput {
    width: 100%;
    padding: 0px 15px 0px 30px;
    background: transparent;
}
.DateInput_input__small {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .2px;
    padding: 7px 7px 5px;
}
.DateInput_fangShape {
    fill: #fff;
}
.DateInput_fangStroke {
    stroke: #dbdbdb;
    fill: transparent;
}
.DateInput_screenReaderMessage {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
p {
    margin-top: 0;
    margin-bottom: 1em;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.cSRaiB .date_picker .DateRangePicker .DateRangePicker_picker {
    margin-top: -12px;
    z-index: 2;
}
.DateRangePickerInput_clearDates__small {
    padding: 6px;
}
.DateRangePickerInput_clearDates_svg__small {
    height: 9px;
}
* {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

[class*=ant-], [class*=ant-] *, [class*=ant-] :after, [class*=ant-] :before, [class^=ant-], [class^=ant-] *, [class^=ant-] :after, [class^=ant-] :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cSRaiB .date_picker .DateRangePicker {
    display: block;
    width: 100%;
}
.DateRangePicker {
    position: relative;
    display: inline-block;
}
.cSRaiB .date_picker {
    min-width: calc(236px);
    width: calc(100% - 14px);
    margin: 0px 0px 0px 14px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.cSRaiB .view_with__popup::before {
    content: "";
    width: 1px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 10px);
    right: auto;
    left: 0px;
    z-index: 1;
    background-color: rgb(230, 230, 230);
}*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}::before, ::after {
    box-sizing: inherit;
}
[class*=ant-], [class*=ant-] *, [class*=ant-] :after, [class*=ant-] :before, [class^=ant-], [class^=ant-] *, [class^=ant-] :after, [class^=ant-] :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}.ant-btn-lg {
    height: 40px;
    padding: 6.4px 15px;
    font-size: 16px;
    border-radius: 2px;
}
<style>
.cSRaiB .view_with__popup::before {
    content: "";
    width: 1px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 10px);
    right: auto;
    left: 0px;
    z-index: 1;
    background-color: rgb(230, 230, 230);
}
.cSRaiB .view_with__popup .popup_handler {
    width: calc(100% - 14px);
    margin-left: 14px;
}
.cSRaiB .view_with__popup.room_guest .popup_handler button.ant-btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.cSRaiB .view_with__popup .popup_handler button.ant-btn {
    min-width: auto;
    width: 100%;
    height: 60px;
    border: 0px;
    padding: 0px 30px;
    border-radius: 0px;
    box-shadow: none;
    font-weight: 400;
    font-size: 15px;
    color: rgb(44, 44, 44);
    background-color: rgb(247, 247, 247);
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.ant-btn, .ant-btn:active, .ant-btn:focus {
    outline: 0;
}
.ant-btn {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    /* -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.015);
    box-shadow: 0 2px 0 rgba(0,0,0,.015); */
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0,0,0,.65);
    background: #fff;
    border: 1px solid #d9d9d9;
}
button, select {
    text-transform: none;
}
body {
    margin: 0;
    color: rgb(122 68 68 / 65%);
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-variant: tabular-nums;
    line-height: 1.5715;
    background-color: #fff;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum","tnum";
}
.ant-btn>span {
    display: inline-block;
}

.cSRaiB .view_with__popup::before {
    content: "";
    width: 1px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 10px);
    right: auto;
    left: 0px;
    z-index: 1;
    background-color: rgb(230, 230, 230);
}
.fLHwCp {
    border-radius: 3px;
}
.hHPvoJ .glide__bullets {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
}
.cSRaiB > svg.map-marker, .cSRaiB > svg.calendar, .cSRaiB > svg.user-friends {
    left: 15px;
    right: auto;
    fill: rgb(0, 132, 137);
}
.cSRaiB > svg {
    position: absolute;
    z-index: 1;
    top: auto;
}
.cSRaiB .date_picker {
    min-width: calc(236px);
    width: calc(100% - 14px);
    margin: 0px 0px 0px 14px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.hCuLgs {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 40px;
}
[class*=ant-], [class*=ant-] *, [class*=ant-] :after, [class*=ant-] :before, [class^=ant-], [class^=ant-] *, [class^=ant-] :after, [class^=ant-] :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, html a, h1, h2, h3, h4, h5, h6, a, p, li, dl, th, dt, input, textarea, span, div {
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    /* text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px; */
    -webkit-tap-highlight-color: transparent;
}
.cSRaiB .date_picker .DateRangePicker .DateRangePickerInput {
    border: 0px;
    padding-right: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: transparent;
}
.cSRaiB .date_picker .DateRangePicker .DateRangePickerInput .DateInput {
    width: 100%;
    padding: 0px 15px 0px 30px;
    background: transparent;
}

body {
    margin: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-variant: tabular-nums;
    line-height: 1.5715;
    background-color: #fff;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum","tnum";
}
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: Lato, sans-serif;
    -webkit-tap-highlight-color: transparent;
}
.DateRangePickerInput_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #484848;
}
.cSRaiB .date_picker .DateRangePicker .DateRangePickerInput .DateInput .DateInput_input {
    padding: 0px;
    font-weight: 400;
    color: rgb(44, 44, 44);
    background: transparent;
}
.cSRaiB > svg.user-friends {
    width: 17px;
    height: 17px;
}
.cSRaiB > svg.map-marker, .cSRaiB > svg.calendar, .cSRaiB > svg.user-friends {
    left: 15px;
    right: auto;
    fill: rgb(0, 132, 137);
}
.cSRaiB .view_with__popup {
    max-width: 100%;
    position: relative;
}
.cSRaiB .view_with__popup::before {
    content: "";
    width: 1px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: calc(50% - 10px);
    right: auto;
    left: 0px;
    z-index: 1;
    background-color: rgb(230, 230, 230);
}
.cSRaiB .view_with__popup .popup_handler {
    width: calc(100% - 14px);
    margin-left: 14px;
}
.ant-btn>span {
    display: inline-block;
}
.cSRaiB .view_with__popup .popup_handler button.ant-btn {
    min-width: auto;
    width: 100%;
    height: 60px;
    border: 0px;
    padding: 0px 30px;
    border-radius: 0px;
    box-shadow: none;
    font-weight: 400;
    font-size: 15px;
    color: rgb(44, 44, 44);
    background-color: rgb(247, 247, 247);
}
.cSRaiB > svg.map-marker, .cSRaiB > svg.calendar, .cSRaiB > svg.user-friends {
    left: 15px;
    right: auto;
    fill: rgb(0, 132, 137);
}
.cSRaiB > svg {
    position: absolute;
    z-index: 1;
    top: auto;
}
svg:not(:root) {
    overflow: hidden;
}
svg {
    stroke: currentcolor;
    fill: currentcolor;
    stroke-width: 0;
    height: 1em;
    width: 1em;
}